/*The default CSS styles for a computer screen*/

h1 {
    font-size: 2em;
    color: #006633;
}

canvas {
    border: 2px solid #006633;
}


/*Removes annoying extra space around the website*/

html,
body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: 'Arvo', serif;
}

#title {
    text-align: center;
}

h2,
h3 {
    color: green;
}

h3 {
    font-size: 1.25em;
}

.dog {
    color: green;
}

.dogimg {
    border-radius: 7.5%;
    box-shadow: 2px 2px 5px #888888;
}

.dogtwos {
    margin: 0;
    padding: 0;
}

#chloeright {
    width: 25%;
}

#main {
    height: 100vh;
    position: absolute;
    right: 0;
    width: 87%;
}

#dogpics {
    float: left;
}

ul li {
    font-size: 1em;
    margin: 0;
}

#main-nav {
    width: 12%;
    max-width: 225px;
    display: inline-block;
    background: #006633;
    position: fixed;
    margin: 0;
    height: 100%;
    border-right: .2em solid #ffcc00;
    text-align: center;
}

p {
    font-size: 1em;
}

#main-nav ul li {
    list-style-type: none;
    font-size: 15px;
}

#main-nav img {
    display: block;
    width: 75%;
    border-radius: 50%;
    border: .2em solid #ffcc00;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#main-nav ul {
    padding-left: 0;
}

#main-nav ul li a {
    padding: .3em;
    display: block;
    text-align: center;
    background: #ffcc00;
    color: #000000;
    border: .1em solid #000000;
}

#main-nav ul li a,
#main-nav ul li a:visited,
#main-nav ul li a:link {
    text-decoration: none;
}

#main-nav ul li a:hover,
#main-nav ul li a:focus,
#main-nav ul li a:active {
    background: #fff;
    color: #ffcc00;
}

footer {
    color: #ffcc00;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

a:active {
    color: #006633;
}

a:hover,
a:focus {
    color: #ffcc00;
}

#content-left {
    width: 50%;
    float: left;
    font-size: 1em;
}

#content-right {
    width: 37%;
    float: right;
    position: relative;
}

#tLeft {
    float: left;
}

#tRight {
    float: right;
    margin-right: 10%;
}

.travel {
    border-radius: 5%;
    box-shadow: 2px 2px 5px #888888;
}


/*The media query that changes the CSS for iPad size */

@media only screen and (max-width: 1024px) {
    #main {
        float: none;
        font-size: 1.5em;
    }
    #content-left {
        font-size: 1.5em;
    }
    #main-nav img {
        margin-top: 0;
        width: 200px;
    }
    #main-nav {
        float: none;
        max-width: none;
        position: relative;
        height: fit-content;
        border-right: none;
        padding-left: 0;
        width: 100%;
        margin: 0;
    }
    footer {
        position: relative;
        width: 200px;
        margin: auto;
    }
    body {
        margin: 0;
        padding: 0;
    }
    #tLeft {
        float: none;
    }
    #tRight {
        float: none;
    }
    #chloeright {
        width: 100%;
    }
    #content-left {
        float: none;
        width: 100%;
    }
    #content-right {
        float: none;
        width: 100%;
    }
}


/*The media query that changes the CSS for phone size */

@media only screen and (max-width: 768px) {
    #main {
        float: none;
        font-size: 1em;
    }
    #content-left {
        font-size: 2em;
    }
    #main-nav img {
        max-width: 100px;
        margin-top: 0;
    }
    #main-nav {
        float: none;
        position: relative;
        height: fit-content;
        border-right: none;
        margin: 0;
        max-width: none;
        width: 100%;
    }
    footer {
        position: relative;
        width: 200px;
        margin: 0;
    }
    html,
    body {
        margin: 0;
        padding: 0;
    }
    #tLeft {
        float: none;
    }
    #tRight {
        float: none;
    }
    #chloeright {
        width: 100%;
    }
    #content-left {
        float: none;
        width: 100%;
    }
    #content-right {
        float: none;
        width: 100%;
    }
}